<section id='newsletter' data-color-scheme='gray'>
    <style>
        #newsletter {
            padding: 50px 0;
        }
        #newsletter grid-row {
            grid-template-columns: 1fr 1fr;
            gap: var(--gutter-2x, 30px);
        }
        #newsletter grid-column:last-child {
            width: 100%;
            align-self: center;
        }
        @media screen and (max-width: 679px) {
            #newsletter grid-row {
                grid-template-columns: 100%;
                grid-auto-flow: row;
            }
        }
    </style>
    <grid-container>
        <grid-row>
            <grid-column>
                <h3 ht-content='page.newsletter.title,layout.newsletter_title,data.newsletter.title'>The Newsletter</h3>
                <p ht-content='page.newsletter.description,layout.newsletter_description,data.newsletter.description'>Subscribe to the newsletter and never miss a post.</p>
            </grid-column>
            <grid-column>
                <uni-form ht-include='partials/uni-form'></uni-form>
            </grid-column>
        </grid-row>
    </grid-container>
</section>