<uni-form>
    <form method='POST' action='' onsubmit='event.preventDefault(); submitForm(this);' data-redirect='/thank-you' ht-attrs='action:form.action'>
        <form-group data-group='email'>
            <label for='email'>Email<span title='required' aria-label='required'> *</span></label>
            <input class='form-control' name='email' id='email' tabindex='101' type='email' placeholder='you@example.com' required>
        </form-group>
        <form-group class='humanoid' data-group='humanoid' hidden>
            <label for='humanoid'>Are you human?</label>
            <checkbox-group>
                <input class='form-control form-checkbox' name='humanoid' id='humanoid' tabindex='102' value='human' type='checkbox'>
                <span class='checkbox-label'>I am human</span>
            </checkbox-group>
        </form-group>
        <form-group data-group='uid'><input class='form-control' name='uid' id='uid' tabindex='103' placeholder=' aria-label=' type='hidden' hidden></form-group>
        <form-group data-group='href'><input class='form-control' name='href' id='href' tabindex='104' placeholder=' aria-label=' type='hidden' hidden></form-group>
        <form-group>
            <input class='form-control form-submit' id='form-submit' tabindex='105' type='submit' aria-label='Subscribe' value='Subscribe'>
        </form-group>
    </form>
    <style>
        uni-form {
            display: block;
            flex-direction: row;
            justify-content: right;
            width: 100%;
            --border-radius: 10px;
        }

        uni-form form {
            display: flex;
            flex-direction: row;
            flex-basis: 100%;
            justify-content: flex-start;
            width: 100%;
        }
        uni-form form form-group:first-of-type {
            flex: 1;
        }
        uni-form form form-group[hidden] {
            flex: 0;
        }

        uni-form form-group label {
            display: none;
        }

        uni-form form-group input {
            display: block;
            width: 100%;
            padding: 10px 20px;
            border-radius: none;
            border: 0;
        }
        uni-form form-group input[hidden] {
            display: none;
        }
        uni-form form-group:first-of-type input {
            border-radius: var(--border-radius) 0 0 var(--border-radius);
        }
        uni-form form-group:last-of-type input {
            border-radius: 0 var(--border-radius) var(--border-radius) 0;
        }
        uni-form form-group input[type='submit'] {
            font-weight: bold;
        }
    </style>
    <!-- <script src='/js/components/uni-form.js'></script> -->
</uni-form>
