<header id='header' data-color-scheme='primary'>
    <style id='header-style' class='component' >
        header > content-container {
            display: grid;
            justify-items: center;
            margin-top: var(--whitespace, 50px);

            & h1, p {
                text-align: center;
            }
        }
    </style>
    <nav ht-include='fragments/nav'></nav>
    <sidebar-menu ht-include='fragments/sidebar-menu'></sidebar-menu>
    <content-container ht-apply ht-if='${ page.title }'>
        <h1 ht-apply rel='title'>${ page.title, "Title" }</h1>
        ${ markdown(page.summary, page.description, "") }
    </content-container>
</header>
