<author-card>
    <style ht-pipe='css:style#components'>
        author-card {
            display: block;
            width: inherit;
        }
        author-card a,
        author-card a:hover {
            display: grid;
            width: inherit;
            grid-template-areas:
                "img . title title"
                "img . subtitle details";
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 60px 10px 1fr 1fr;
            text-decoration: none;
            box-shadow: none;
            color: inherit;
        }
        author-card a img {
            grid-area: img;
            border-radius: 50%;
            border: var(--img-border-color) solid 3px;
            width: inherit;
            height: auto;
            align-self: center;
        }
        author-card a [itemprop=title] {
            grid-area: title;
            font-weight: 700;
            font-size: 1.2em;
            align-self: end;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        author-card a [itemprop=subtitle] {
            grid-area: subtitle;
            align-self: start;
        }
        author-card a [itemprop=details] {
            grid-area: details;
            align-self: start;
        }
    </style>
    <a ht-apply itemprop='author' href='${ site.byline.href }'>
        <img ht-apply itemprop='favicon' src='${ site.byline.favicon }' />
        <span ht-apply itemprop='title'>${ site.byline.name }</span>
        <span ht-apply itemprop='subtitle'>${ site.byline.username }</span>
    </a>
</author-card>
