<!-- Twitter Metadata -->
<meta ht-if='${ data.twitter }' name="twitter:card" content="summary">
<meta ht-apply ht-if='${ data.twitter }' name="twitter:title" content='${ page.title, site.title }'>
<meta ht-apply ht-if='${ data.twitter }' name="twitter:description" content='${ page.description,site.description }'>
<meta ht-apply ht-if='${ data.twitter.site }' name="twitter:site" content='${ data.twitter.site }'>
<meta ht-apply ht-if='${ data.twitter.creator }' name="twitter:creator" content='${ data.twitter.creator }'>
