<header id='header'>
    <style ht-pipe='css:style#components'>
        header > content-container {
            display: grid;
            justify-items: center;
            margin-top: var(--whitespace, 50px);

            & h1, p {
                text-align: center;
            }
        }
    </style>
    <nav ht-include='partials/nav'></nav>
    <sidebar-menu ht-include='partials/sidebar-menu'></sidebar-menu>
    <content-container ht-if='page.title'>
        <h1 rel='title' ht-content='text:page.title'>Title</h1>
        <p rel='title' ht-content='text:page.description' ht-if='page.description'></p>
        <param ht-param='markdown:page.summary' />
    </content-container>
</header>
