<header id='header' data-color-scheme='primary'>
    <style>
        header > grid-container {
            display: grid;
            justify-items: center;
            margin-top: var(--whitespace, 50px);

            & h1, p {
                text-align: center;
            }
        }
    </style>
    <nav ht-include='partials/nav'></nav>
    <sidebar-menu ht-include='partials/sidebar-menu'></sidebar-menu>
    <grid-container ht-if='page.title' ht-content='markdown:page.summary'>
        <h1 rel='title' ht-content='text:page.title'>Title</h1>
        <p rel='title' ht-content='text:page.description' ht-if='page.description'></p>
    </grid-container>
</header>
