<!DOCTYPE html>
<html lang='en-US'>
    <head>
        <meta ht-include='partials/head' />

        <!-- Layout Properties -->
        <meta name='layout:name' content='blog'/>

        <!-- Layout Components -->
        <script src='/js/components/relative-time.js?v=2' defer></script>
        <script src='/js/components/footer-menu.js?v=2' defer></script>

        <!-- Layout Styles -->
        <style id='components'></style>
        <style id='layout'>
            feed-entry {
                display: block;
                margin-bottom: var(--gutter-3x, 45px);
            }
            feed-entry post-card {
                margin-bottom: var(--gutter-1x, 15px);
            }
            feed-entry :is(post-content, learn-more) {
                display: block;
                padding-left: 75px;
            }
        </style>
    </head>
    <body>
        <header ht-include='partials/blog/hero' data-color-scheme='light'></header>
        <section data-color-scheme='light'>
            <content-container>
                <feed-entry ht-template='page:page.feed.pages; site:site' ht-base='src:page.path;href:page.path'>
                    <post-card ht-include='partials/hyper/post-card'></post-card>
                    <post-content ht-content='markdown:page.summary,page.content'></post-content>
                    <learn-more ht-block ht-attrs='href:page.path' label='Continue reading'></learn-more>
                </feed-entry>
            </content-container>
        </section>
        <content-whitespace data-color-scheme='light'></content-whitespace>
        <section ht-include='partials/newsletter'></section>
        <footer ht-include='partials/sections/footer.html'></footer>
    </body>
</html>
