<!DOCTYPE html>
<html lang='en-US'>
    <head>
        <meta ht-include='partials/head.html'></meta>

        <!-- Layout Properties -->
        <meta name='layout:name' content='blog'/>

        <!-- Layout Components -->
        <script src='/js/components/footer-menu.js' defer></script>

        <!-- Layout Styles -->
        <style id='components'></style>
        <style id='layout'>
            #contact {
                padding: 50px 0;
            }
            #contact content-row {
                grid-column-gap: 30px;
            }
            #contact place-card {
                margin: var(--gutter-2x, 30px) 0;
            }
        </style>
    </head>
    <body>
        <header ht-include='partials/sections/header.html'></header>
        <section id='contact'>
            <content-container>
                <content-row grid>
                    <content-column>
                        <contact-form ht-include='partials/contact-form'></contact-form>
                    </content-column>
                    <content-column>
                        <content-block ht-content='html:page.content'></content-block>
                    </content-column>
                </content-row>
            </content-container>
        </section>
        <content-whitespace></content-whitespace>
        <footer ht-include='partials/sections/footer.html' data-color-scheme='dark'></footer>
    </body>
</html>
