<!DOCTYPE html>
<html lang='en-US'>
    <head>
        <meta ht-include='partials/head.html'></meta>

        <!-- Layout Properties -->
        <meta name='layout:name' content='downloads'/>

        <!-- Layout Components -->
        <script src='/js/components/footer-menu.js' defer></script>

        <!-- Layout Styles -->
        <style id='components'></style>
        <style id='layout'></style>
    </head>
    <body>
        <header ht-include='partials/sections/header.html'></header>
        <section id='contact'>
            <style ht-pipe='css:style#components'></style>
        </section>
        <content-whitespace></content-whitespace>
        <footer ht-include='partials/sections/footer.html' data-color-scheme='dark'></footer>
    </body>
</html>
