<!DOCTYPE html>
<html lang='en-US'>
    <head>
        <meta ht-include='partials/head.html'></meta>

        <!-- Layout Properties -->
        <meta name='layout:name' content='features'/>

        <!-- Layout Components -->
        <script src='/js/components/relative-time.js' defer></script>
        <script src='/js/components/footer-menu.js' defer></script>

        <!-- Layout Styles -->
        <style></style>
    </head>
    <body>
        <header ht-include='partials/sections/header.html'></header>
        <section data-color-scheme='light'>
            <grid-container>
                <main ht-content='markdown:page.content'></main>
            </grid-container>
        </section>
        <grid-whitespace data-color-scheme='light'></grid-whitespace>
        <section ht-include='partials/newsletter.html'></section>
        <footer ht-include='partials/sections/footer.html' data-color-scheme='dark'></footer>
    </body>
</html>
