<!DOCTYPE html>
<html lang='en-US'>
    <head>
        <meta ht-include='partials/head.html'></meta>

        <!-- Layout Properties -->
        <meta name='layout:name' content='home'/>

        <!-- Layout Components -->
        <script src='/js/components/footer-menu.js' defer></script>

        <!-- Layout Styles -->
        <style id='components'></style>
        <style id='layout'>
            bento-overview {
                display: grid;
                width: 100%;
                justify-content: center;
                justify-items: center;
                text-align: center;
                margin-bottom: var(--gutter-2x, 30px);
            }
            bento-overview h2 {
                margin-bottom: 15px;
            }
            bento-overview p:not(:last-child) {
                margin-bottom: 15px;
            }
        </style>
    </head>
    <body>
        <header ht-include='partials/sections/hero.html'></header>
        <!-- <section ht-include='partials/logo-roll.html' data-color-scheme='light'></section> -->
        <section id='features' data-color-scheme='light'>
            <content-container>
                <bento-overview>
                    <h2 ht-content='html:page.features.title'></h2>
                    <content-block ht-content='markdown:page.features.overview'></content-block>
                </bento-overview>
                <bento-box ht-include='partials/bento-box'></bento-box>
            </content-container>
        </section>
        <content-whitespace></content-whitespace>
        <section ht-include='partials/newsletter.html' data-color-scheme='gradient'></section>
        <footer ht-include='partials/sections/footer.html'></footer>
    </body>
</html>
