<!DOCTYPE html>
<html lang='en-US'>
    <head>
        <meta ht-include='partials/head.html'></meta>
        <meta http-equiv="refresh" content="0; url=/" ht-attrs='content:page.refresh' ht-if='page.content==' />

        <!-- Layout Properties -->
        <meta name='layout:name' content='post'/>
        <meta name='layout:newsletter_title' content='The Newsletter'>
        <meta name='layout:newsletter_description' content='Get this and other posts delivered to your inbox. No more than one email per week, no fewer than one email per month.'>

        <!-- Layout Components -->
        <script src='/js/components/hyper-feed.js' defer></script>
        <script src='/js/components/relative-time.js' defer></script>
        <script src='/js/components/auto-anchor.js' defer></script>
        <script src='/js/components/footer-menu.js' defer></script>

        <!-- Layout Styles -->
        <style></style>
    </head>
    <body data-color-scheme='light'>
        <header ht-include='partials/blog/header.html'></header>
        <grid-whitespace></grid-whitespace>
        <section id='post' data-color-scheme='light'>
            <style>
                #post post-card {
                    margin-bottom: var(--gutter-2x, 30px);
                }
            </style>
            <grid-container>
                <article itemscope itemtype='https://schema.org/Article'>
                    <article-meta>
                        <post-card ht-include='partials/hyper/post-card' ht-template='entity:page.author,site.author;page:page' ht-not='page.content=='></post-card>
                        <post-card ht-include='partials/hyper/post-card' ht-template='entity:page.author,page.contributors,site.author;page:page' ht-if='page.content=='></post-card>
                    </article-meta>
                    <article-body ht-content='markdown:page.summary,page.content' summary></article-body>
                    <article-attachments>
                        <attachment-gallery ht-include='partials/attachment-gallery'></attachment-gallery>
                    </article-attachments>
                    <article-body ht-content='markdown:page.more' more></article-body>
                </article>
            </grid-container>
            <auto-anchor scope='article'></auto-anchor>
        </section>
        <grid-whitespace></grid-whitespace>
        <section ht-include='partials/newsletter.html'></section>
        <footer ht-include='partials/sections/footer.html' data-color-scheme='dark'></footer>
    </body>
</html>
