<!DOCTYPE html>
<html lang='en-US'>
    <head>
        <meta ht-include='partials/head' />

        <!-- Layout Properties -->
        <meta name='layout:name' content='tag'/>

        <!-- Layout Components -->
        <script src='/js/components/relative-time.js' defer></script>
        <script src='/js/components/footer-menu.js' defer></script>

        <!-- Layout Styles -->
        <style>
            feed-entry {
                margin-bottom: var(--gutter-3x, 45px);
            }
            feed-entry post-card {
                margin-bottom: var(--gutter-1x, 15px);
            }
            feed-entry :is(post-content, learn-more) {
                display: block;
                padding-left: 75px;
            }
        </style>
    </head>
    <body>
        <header ht-include='partials/blog/hero'></header>
        <section data-color-scheme='light'>
            <grid-container>
                <feed-entry ht-template='entry:page.feed.pages;page:page;site:site' style='display: block;'>
                    <meta name='entry' ht-attrs='content:entry' />
                    <post-card ht-include='partials/hyper/post-card' ht-template='entity:entry.author,page.author,site.author; page:entry'></post-card>
                    <post-content ht-content='markdown:entry.summary,entry.content'></post-content>
                    <learn-more ht-element ht-attrs='href:entry.path' label='Continue reading'></learn-more>
                </feed-entry>
            </grid-container>
        </section>
        <grid-whitespace data-color-scheme='light'></grid-whitespace>
        <section ht-include='partials/newsletter'></section>
        <footer ht-include='partials/sections/footer.html'></footer>
    </body>
</html>
