<!DOCTYPE html>
<html lang='en-US'>
    <head>
        <meta ht-include='fragments/head' />

        <!-- Layout Properties -->
        <meta name='layout:name' content='blog'/>

        <!-- Layout Components -->
        <script src='/js/components/relative-time.js?v=2' defer></script>
        <script src='/js/components/footer-menu.js?v=2' defer></script>

        <!-- Layout Styles -->
        <style id='components' ht-pipe='from "style.component" as css'></style>
        <style id='layout'>
            feed-entry {
                display: block;
                margin-bottom: var(--gutter-3x, 45px);
            }
            feed-entry post-card {
                margin-bottom: var(--gutter-1x, 15px);
            }
            feed-entry :is(post-content, learn-more) {
                display: block;
                padding-left: 75px;
            }
        </style>
    </head>
    <body>
        <header ht-include='fragments/blog/hero' data-color-scheme='light'></header>
        <main>
            <section data-color-scheme='light'>
                <content-container>
                    <feed-entry ht-each='page in ${ page.feed.pages }' ht-base='src on ${ page.canonical_url }' ht-base='href on ${ page.canonical_url }' ht-base='poster on ${ page.canonical_url }'>
                        <post-card ht-include='fragments/hyper/post-card'></post-card>
                        <post-content ht-apply>
                            <h2 ht-apply ht-if='${ page.title }'>${ page.title }</h2>
                            ${ markdown(page.summary, page.content, "") }
                        </post-content>
                        <learn-more ht-block ht-apply href='${ page.path }' label='Continue reading'></learn-more>
                    </feed-entry>
                </content-container>
            </section>
        </main>
        <content-whitespace data-color-scheme='light'></content-whitespace>
        <section ht-include='fragments/newsletter'></section>
        <footer ht-include='fragments/sections/footer.html'></footer>
    </body>
</html>
