<!DOCTYPE html>
<html lang='en-US'>
    <head>
        <meta ht-include='fragments/head.html'></meta>

        <!-- Layout Properties -->
        <meta name='layout:name' content='downloads'/>

        <!-- Layout Components -->
        <script src='/js/components/auto-anchor.js' defer></script>
        <script src='/js/components/auto-toc.js' defer></script>
        <script src='/js/components/relative-time.js' defer></script>
        <script src='/js/components/footer-menu.js' defer></script>

        <!-- Layout Styles -->
        <style id='components'></style>
        <style id='layout'>
            release-version {
                display: block;
                margin-top: var(--whitespace);
            }
            release-version dl dd download-file { display: block; }
            release-version:first-of-type h3::after {
                content: ' (latest)';
                color: var(--color-text-secondary);
            }
        </style>
    </head>
    <body>
        <header ht-include='fragments/sections/header.html'></header>
        <section id='releases' data-color-scheme='light'>
            <content-container ht-apply>
                <h2 ht-apply>${ page.title }</h2>
                ${ markdown (get "page.summary, page.content") }
                <auto-toc selectors='h3,h4,h5,h6'></auto-toc>
                <release-version ht-template='release:data.downloads.releases'>
                    <release-meta flex spread aligned>
                        <h3 ht-apply>Version ${ release.version, "" }</h3>
                        <relative-time>
                            <time ht-apply datetime='${ release.date }'>${ release.date, "earlier this year" }</time>
                        </relative-time>
                    </release-meta>
                    <doc-quote ht-block ht-apply info>${ markdown release.description }</doc-quote>
                    <dl ht-template='platform:release.platforms'>
                        <dt>
                            <strong ht-apply>${ platform.name, "Platform X" }</strong>
                        </dt>
                        <dd>
                            <download-file ht-template='download:platform.files'>
                                <a ht-apply href='${ download.href }'>
                                    <code ht-apply>${ download.name, "platform_version_arch.tar.gz" }</code>
                                </a>
                            </download-file>
                        </dd>
                    </dl>
                </release-version>
            </content-container>
            <auto-anchor></auto-anchor>
        </section>
        <content-whitespace></content-whitespace>
        <footer ht-include='fragments/sections/footer.html' data-color-scheme='dark'></footer>
    </body>
</html>
