<!DOCTYPE html>
<html lang='en-US'>
    <head>
        <meta ht-include='fragments/head.html'></meta>
        <meta ht-apply ht-if='${ page.content } == ""' http-equiv="refresh" content="0; url=/" content='${ page.refresh }' />

        <!-- Layout Properties -->
        <meta name='layout:name' content='post'/>
        <meta name='layout:newsletter_title' content='The Newsletter'>
        <meta name='layout:newsletter_description' content='Get this and other posts delivered to your inbox. No more than one email per week, no fewer than one email per month.'>

        <!-- Layout Components -->
        <script ht-apply src='/js/components/hyper-feed.js?v=${ site.version, build.id }' defer></script>
        <script ht-apply src='/js/components/relative-time.js?v=${ site.version, build.id }' defer></script>
        <script ht-apply src='/js/components/auto-anchor.js?v=${ site.version, build.id }' defer></script>
        <script ht-apply src='/js/components/footer-menu.js?v=${ site.version, build.id }' defer></script>

        <!-- Layout Styles -->
        <style id='components' ht-pipe='from "style.component" as css'></style>
        <style id='layout'></style>
    </head>
    <body data-color-scheme='light'>
        <header ht-include='fragments/blog/header.html'></header>
        <content-whitespace></content-whitespace>
        <section id='post' data-color-scheme='light'>
            <style class='component'>
                #post post-card {
                    margin-bottom: var(--gutter-2x, 30px);
                }
            </style>
            <content-container>
                <article itemscope itemtype='https://schema.org/Article'>
                    <article-meta>
                        <post-card ht-include='fragments/hyper/post-card'></post-card>
                    </article-meta>
                    <article-body ht-apply summary>
                        <h2 ht-apply ht-if='${ page.title }'>${ page.title }</h2>
                        ${ markdown(page.summary, page.content, "") }
                    </article-body>
                    <article-attachments>
                        <attachment-gallery ht-include='fragments/attachment-gallery'></attachment-gallery>
                    </article-attachments>
                    <article-body ht-apply more>${ markdown(page.more) }</article-body>
                </article>
            </content-container>
            <auto-anchor scope='article'></auto-anchor>
        </section>
        <content-whitespace></content-whitespace>
        <section ht-include='fragments/newsletter.html'></section>
        <footer ht-include='fragments/sections/footer.html' data-color-scheme='dark'></footer>
    </body>
</html>
