<!DOCTYPE html>
<html lang='en-US'>
    <head>
        <meta ht-include='fragments/head' />

        <!-- Layout Properties -->
        <meta name='layout:name' content='tag'/>

        <!-- Layout Components -->
        <script src='/js/components/relative-time.js' defer></script>
        <script src='/js/components/footer-menu.js' defer></script>

        <!-- Layout Styles -->
        <style id='components'></style>
        <style id='layout'>
            feed-entry {
                margin-bottom: var(--gutter-3x, 45px);
            }
            feed-entry post-card {
                margin-bottom: var(--gutter-1x, 15px);
            }
            feed-entry :is(post-content, learn-more) {
                display: block;
                padding-left: 75px;
            }
        </style>
    </head>
    <body>
        <header ht-include='fragments/blog/hero' data-color-scheme='primary'></header>
        <section data-color-scheme='light'>
            <content-container>
                <feed-entry ht-template='entry:page.feed.pages;page:page;site:site' style='display: block;'>
                    <meta ht-apply name='entry' content='${ entry }' />
                    <post-card ht-include='fragments/hyper/post-card' ht-template='entity:entry.byline,page.byline,site.byline; page:entry'></post-card>
                    <post-content ht-apply>${ markdown (get "entry.summary,entry.content") }</post-content>
                    <learn-more ht-block ht-apply href='${ entry.path }' label='Continue reading'></learn-more>
                </feed-entry>
            </content-container>
        </section>
        <content-whitespace data-color-scheme='light'></content-whitespace>
        <section ht-include='fragments/newsletter'></section>
        <footer ht-include='fragments/sections/footer.html'></footer>
    </body>
</html>
