@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

body {
    font-family: '-apple-system', 'Helvetica', sans-serif;
    font-size: 18px;
}

:where(h1, h2, h3, h4, h5, h6) {
    font-weight: 700;
    margin-bottom: 0.5rem;
}
:where(h1, h2, h3, h4, h5, h6):not(:first-child) {
    margin-top: 1.5em;
}

h1 { font-size: 1.8em; }
h2 { font-size: 1.4em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.1em; }
h6 { font-size: 1em; }

p {
    margin-bottom: 0.50em;
}

a {
    font-family: inherit;
    font-weight: inherit;
    text-decoration: none;
    box-shadow: inset 0 var(--underline-offset, -0.2em) var(--link-underline-color);
    transition: box-shadow 0.25s ease-in-out;
    cursor: hand;
    pointer-events: auto;
}
a:hover {
    box-shadow: inset 0 var(--underline-offset-hover, -0.5em) var(--link-underline-color);
    transition: box-shadow 0.25s ease-in-out;
    cursor: pointer;
    pointer-events: auto;
}

:is(h1, h2, h3, h4, h5, h6, dt) a[rel='anchor'] {
    color: transparent;
}
:is(h1, h2, h3, h4, h5, h6, dt):hover a[rel='anchor'] {
    color: inherit;
}
a[rel='anchor'], a[rel='anchor']:hover {
    text-decoration: none;
    box-shadow: none;
}

a[data-hyper-mention],a[hyper-mention] {
    font-weight: 600;
}

ul li {
    margin-left: 20px;
}
ul li::marker {
    color: var(--accent-color);
}
ol {
    list-style-type: decimal-leading-zero;
    margin-block-start: 1rem;
    /* list-style-position: inside */
}
ol li {
    margin-left: 40px;
}
:where(ul, ol):not(ul ul, ul ol, ol ol, ol ul) {
    margin: var(--gutter-1x, 15px) 0;
}
:where(ul, ol):not(:last-child):has(p) li {
    margin-bottom: var(--gutter-1x, 15px);
}

blockquote {
    background-color: var(--accent-color);
    margin: var(--gutter-default, 15px) 0;
    padding: var(--gutter-width) calc(var(--gutter-width) * 2);
    border-left: var(--gutter-width) solid var(--accent-shade);
}
blockquote p:last-of-type {
    margin-bottom: 0;
}
blockquote :is(a, a:hover) {
    font-weight: 600;
    box-shadow: none;
}

sup, sub { line-height: 0; }
sup {
    vertical-align: super;

    & :is(a, a:hover) {
        color: inherit;
        text-decoration: none;
        box-shadow: none;
    }
}

pre { tab-size: 4; }
pre:has(code),
[no-highlights] pre:has(code) {
    font-size: 1.0rem;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    max-width: var(--max-width, 100%);
    margin: var(--gutter-1x, 15px) 0;
    padding: var(--gutter-1x, 15px);
    background-color: rgba(0,0,0,0.75);
    color: rgba(255,255,255,1.0);
    overflow-x: scroll;
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
pre:has(code)::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}
code { white-space: pre; tab-size: inherit; }
code:not(pre code) { padding: 0 0.20em; border-radius: 0.10em; }
/* pre code span:last-child { margin-right: var(--padding-1x, 15px); } */
pre code .ln { display: none }

details { margin: var(--gutter-2x, 30px) 0 }
details summary { color: color-mix(in srgb, var(--text-color), transparent 50%); margin-bottom: var(--gutter-default, 15px); }

dl {
    display: grid;
    width: 100%;
    max-width: var(--max-width, 100%);
    grid-template-columns: minmax(20%, max-content) 1fr;
    gap: var(--gutter-2x, 30px) var(--gutter-1x, 15px);
    margin: var(--gutter-2x, 30px) 0;
}
dl dt {
    display: block;
    min-width: 0; /* magic */
    font-weight: 600;
}
dl dd {
    display: block;
    min-width: 0; /* magic */
}
dl dd > p:first-of-type {
    margin-top: var(--gutter-1x, 15px);
}
hr + dl > dt:first-of-type {
    border-top: none;
}

@media screen and (max-width: 1379px) {
    dl { grid-template-columns: 1fr; }
    dl dt { padding-top: var(--gutter-1x, 15px); }
    dl dt { border-top: 1px solid rgba(0,0,0,0.25) }
}

embed[type='application/pdf'] {
    display: block;
    width: 40%;
    height: auto;
    aspect-ratio: 8.5/11;
    margin: var(--gutter-2x, 30px) auto;
}

.footnotes {
    margin: var(--gutter-2x, 30px) 0;
}

@media screen and (max-width: 679px) {
    embed[type='application/pdf'] {
        width: 75%;
        height: auto;
    }
}
