<!-- HTTP Headers -->
<meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; connect-src 'self' https://*; img-src 'self' https://*; media-src 'self' https://*;">

<!-- Browser Metadata -->
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes'>

<!-- Page Metadata -->
<title ht-content='text:page.title,site.title'></title>
<meta name='description' content='' ht-attrs='content:page.description,site.description'>
<meta name='author' ht-attrs='content:page.author.name,site.author.name'>
<link rel='icon' type='image/png' sizes="32x32" href='/favicon.png' ht-template='favicon:site.favicon,site.favicons' ht-attrs='rel:favicon.rel;href:favicon.href;sizes:favicon.sizes;type=favicon.type'>
<link rel='canonical' href='' ht-attrs='href:page.canonical_url'>
<meta ht-include='partials/open-graph'>
<meta ht-include='partials/twitter-card'>

<!-- CSS -->
<link rel='stylesheet' href='/css/reset.css'>
<link rel='stylesheet' href='/css/variables.css'>
<link rel='stylesheet' href='/css/colors.css'>
<link rel='stylesheet' href='/css/typography.css?v=4'>
<link rel='stylesheet' href='/css/grid.css'>
<link rel='stylesheet' href='/css/styles.css'>
<link rel='stylesheet' href='/css/chroma-base16-snazzy.css'>

<!-- Web Components -->
<script>
    CustomElementRegistry.prototype.apply = function(tag, component) {
        if (!(!!component.constructor && component.toString().substring(0,5) == "class")) { return };
        if (this.get(tag)) { return }; // lookup by tag name
        if (this.getName(component)) { return }; // lookup by component class
        try { this.define(tag, component) } catch(err) {
            console.debug(`component ${component.name} already registered as <${tag}>`);
        };
    };
</script>
