<sidebar-autofocus hidden>
    <style>
        sidebar-autofocus[hidden] {
            display: none;
        }
        sidebar-autofocus:not([hidden]) {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            z-index: 10;
        }
    </style>
</sidebar-autofocus>
<sidebar-menu data-color-scheme='blur'>
    <style>
        sidebar-menu {
            /* variables */
            --width: min(360px, 70vw);

            display: block;
            position: fixed;
            top: 0;
            right: calc(var(--width) * -1);
            height: 100vh;
            width: var(--width);
            z-index: 999;
            padding: var(--gutter-1x, 15px);
            transition: right 0.35s ease-in-out;
        }
        sidebar-menu[active] {
            right: 0;
            transition: right 0.35s ease-in-out;
        }
        sidebar-menu menu {
            display: flex;
            flex-direction: column;

            & svg {
                height: 100px;
                width: auto;
                margin-bottom: 15px;
                justify-self: center;
            }
            & li {
                font-size: 1.25rem;
                text-align: center;
                list-style-type: none;
                margin-bottom: 10px;
            }
        }
    </style>
    <menu>
        <svg hyper-include='static/img/ht-logo-duo.svg'></svg>
        <li hyper-template='link:data.nav.sidebar'>
            <a href='#' rel='' hyper-attrs='href:link.href;rel:link.title' hyper-content='text:link.label,link.title'>Placeholder</a>
        </li>
    </menu>
    <script>
        document.querySelector('nav button').addEventListener('click', function() {
            document.querySelector('nav button').toggleAttribute('hidden');
            document.querySelector('sidebar-menu').toggleAttribute('active');
            document.querySelector('sidebar-autofocus').toggleAttribute('hidden');
        });
        document.querySelector('sidebar-autofocus').addEventListener('click', function() {
            event.preventDefault();
            document.querySelector('nav button').toggleAttribute('hidden');
            document.querySelector('sidebar-menu').toggleAttribute('active');
            document.querySelector('sidebar-autofocus').toggleAttribute('hidden');
        });
    </script>
</sidebar-menu>
