<!-- Twitter Metadata -->
<meta hyper-if='data.twitter' name="twitter:card" content="summary">
<meta hyper-if='data.twitter' name="twitter:title" content="" hyper-attrs='content:page.title,site.title'>
<meta hyper-if='data.twitter' name="twitter:description" content="" hyper-attrs='content:page.description,site.description'>
<meta hyper-if='data.twitter' name="twitter:site" content="" hyper-attrs='content:data.twitter.site'>
<meta hyper-if='data.twitter' name="twitter:creator" content="" hyper-attrs='content:data.twitter.creator'>
