<footer-menu ht-if='data.nav.footer' columns='4'>
    <style ht-pipe='css:style#components'>
        footer-menu {
            display: block;
            height: max-content;
            width: 100%;
        }
        footer-menu menu {
            display: grid;
            grid-auto-flow: column; /* magic */
            grid-auto-columns: 1fr; /* magic */
            gap: var(--gutter-1x);
        }
        footer-menu menu menu-group {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            height: 100%;
            min-height: 0;
        }
        footer-menu menu menu-group > * {
            width: 100%;
        }
        footer-menu menu menu-group h5 {
            margin-bottom: 15px;
        }
        footer-menu menu menu-group a,
        footer-menu menu menu-group a:hover {
            text-decoration: none;
            margin-bottom: 5px;
            box-shadow: none;
        }
        @media screen and (max-width: 767px) {
            footer-menu menu {
                grid-template-columns: 1fr 1fr;
                grid-auto-flow: unset;
                grid-auto-columns: unset;
            }
        }
        @media screen and (min-width: 768px) and (max-width: 1279px) {}
        @media screen and (min-width: 1280px) {}
    </style>
    <a ht-template='link:data.nav.footer' ht-attrs='href:link.href;rel:link.group' ht-content='text:link.label,link.title'></a>
</footer-menu>
