<!-- HTTP Headers -->
<meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; connect-src 'self' https://*; img-src 'self' https://*; media-src 'self' https://*;">

<!-- Browser Metadata -->
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes'>

<!-- Page Metadata -->
<title ht-content='page.title,site.title'></title>
<meta name='description' ht-attrs='content:page.description,site.description' />
<meta name='author' ht-attrs='content:page.author.name,site.author.name' />
<meta ht-template='meta:site.metadata' ht-attrs='name:meta.name; property:meta.property; content:meta.content' />

<link rel='icon' type='image/png' sizes="32x32" href='/favicon.png' ht-template='favicon:site.favicon,site.favicons' ht-attrs='rel:favicon.rel;href:favicon.href;sizes:favicon.sizes;type=favicon.type'>
<link rel='canonical' ht-attrs='href:page.canonical_url'>
<link ht-template='link:site.links' ht-attrs='rel:link.rel; href:link.href; sizes:link.sizes; type:link.type'>
<meta ht-include='partials/open-graph'>
<meta ht-include='partials/twitter-card'>

<!-- Global Styles -->
<link rel='stylesheet' href='/css/reset.css?v=6'>
<link rel='stylesheet' href='/css/variables.css?v=6'>
<link rel='stylesheet' href='/css/colors.css?v=6'>
<link rel='stylesheet' href='/css/typography.css?v=6'>
<link rel='stylesheet' href='/css/grid.css?v=6'>
<link rel='stylesheet' href='/css/styles.css?v=6'>
<link rel='stylesheet' href='/css/chroma-base16-snazzy.css'>
