<!-- Twitter Metadata -->
<meta ht-if='data.twitter' name="twitter:card" content="summary">
<meta ht-if='data.twitter' name="twitter:title" content="" ht-attrs='content:page.title,site.title'>
<meta ht-if='data.twitter' name="twitter:description" content="" ht-attrs='content:page.description,site.description'>
<meta ht-if='data.twitter' name="twitter:site" content="" ht-attrs='content:data.twitter.site'>
<meta ht-if='data.twitter' name="twitter:creator" content="" ht-attrs='content:data.twitter.creator'>
