<!DOCTYPE html>
<html lang='en-US'>
    <head>
        <meta ht-include='partials/head'></meta>

        <!-- Web Components -->
        <script src='/js/components/ht-feed.js' defer></script>
        <script src='/js/components/relative-time.js' defer></script>
        <script src='/js/components/footer-menu.js' defer></script>
    </head>
    <body>
        <header ht-include='partials/sections/header.html'></header>
        <section ht-include='partials/blog/feed' data-color-scheme='light'></section>
        <grid-whitespace></grid-whitespace>
        <section ht-include='partials/newsletter'></section>
        <footer ht-include='partials/sections/footer.html'></footer>
        <section ht-include='partials/tail'></section>
    </body>
</html>
