<footer id='footer' data-color-scheme='dark'>
    <style>
        footer footer-menu {
            margin-bottom: var(--gutter-2x, 30px);
        }
    </style>
    <grid-container>
        <footer-menu ht-include='partials/footer-menu.html'></footer-menu>
        <p>
            &copy;
            <span ht-content='text:site.copyright'>2024</span>
            <span>Herd Works, Inc</span>
            &bullet;
            <span ht-content='text:site.byline'>Made with <red-heart>&hearts;</red-heart> in Portland, Oregon.</span>
        </p>
    </grid-container>

    <!-- Page.js -->
    <script ht-template='asset:page.assets' ht-if='asset==page.js' ht-attrs='src:asset' defer></script>
</footer>
