<footer id='footer' data-color-scheme='dark'>
    <style ht-pipe='css:style#components'>
        footer footer-menu {
            margin-bottom: var(--gutter-2x, 30px);
        }
    </style>
    <content-container>
        <footer-menu ht-include='partials/footer-menu.html'></footer-menu>
        <p>
            <span ht-content='site.byline'>Designed by <a href='https://herd.works'>Herd Works Inc</a> in Portland, Oregon</span>
            &copy; <param ht-param='site.copyright' default='2024' />
        </p>
    </content-container>

    <!-- Page.js -->
    <script ht-template='asset:page.assets' ht-if='asset==page.js' ht-attrs='src:asset' defer></script>
</footer>
