<!DOCTYPE html>
<html lang='en-US'>
    <head>
        <meta ht-include='partials/head.html'></meta>

        <!-- Web Components -->
        <script src='/components/doc-breadcrumbs.js' defer></script>
        <script src='/components/auto-anchor.js' defer></script>
    </head>
    <body>
        <header ht-include='partials/header.html'></header>
        <section data-color-scheme='light'>
            <grid-container>
                <doc-breadcrumbs ht-include='partials/breadcrumbs'></doc-breadcrumbs>
                <main ht-content='markdown:page.content'></main>
                <auto-anchor></auto-anchor>
            </grid-container>
        </section>
        <grid-whitespace></grid-whitespace>
        <section ht-include='partials/newsletter.html'></section>
        <footer ht-include='partials/footer.html' data-color-scheme='dark'></footer>
    </body>
</html>
