<!DOCTYPE html>
<html lang='en-US'>
    <head>
        <meta hyper-include='partials/head.html'></meta>
    </head>
    <body>
        <header>
            <nav hyper-include='partials/nav.html'></nav>
        </header>
        <grid-whitespace></grid-whitespace>
        <section id='post' data-color-scheme='light'>
            <article hyper-include='partials/article-post'></article>
            <script src='/components/date-time.js'></script>
        </section>
        <grid-whitespace></grid-whitespace>
        <section hyper-include='partials/footer.html' data-color-scheme='dark'></section>
        <section hyper-include='partials/tail.html'></section>
    </body>
</html>
