<!DOCTYPE html>
<html lang='en-US'>
    <head>
        <meta hyper-include='partials/head.html'></meta>
    </head>
    <body>
        <header hyper-include='partials/header.html'></header>
        <section id='services'>
            <grid-container>
                <service-items hyper-include='partials/service-items'></service-items>
            </grid-container>
            <style>
                #services {
                    padding: 50px 0;
                }
            </style>
        </section>
        <grid-whitespace></grid-whitespace>
        <footer hyper-include='partials/footer.html'></footer>
        <section hyper-include='partials/tail.html'></section>
    </body>
</html>
