<section id='feed' data-color-scheme='light'>
    <style></style>
    <grid-container>
        <ht-feed feed-src='atom.xml' feed-selector='article-body[summary], article-body, article-attachments, main' feed-limit='25'>
            <style>
                ht-feed post-card {
                    margin-bottom: var(--gutter-2x, 30px);
                }
            </style>
            <template>
                <ht-post>
                    <post-card ht-include='partials/hyper/post-card'></post-card>
                    <post-body><a></a></post-body>
                    <learn-more ht-include='elements/learn-more'></learn-more>
                </ht-post>
            </template>
        </ht-feed>
    </grid-container>
</section>