<post-card itemscope itemtype='https://schema.org/Person' ht-attrs='itemtype:page.author.kind,site.author.kind'>
    <style ht-pipe='css:style#components'>
        post-card :is(a, a:hover) {
            text-decoration: none;
            box-shadow: none;
        }
        post-card {
            display: grid;
            grid-column: 2;
            grid-template-areas:
                "favicon . name"
                "favicon . details";
            grid-template-columns: 60px var(--gutter-default, 15px) 1fr;
            grid-template-rows: 30px 30px;
        }
        post-card [itemprop=favicon] {
            grid-area: favicon;

            & img {
                border-radius: 50%;
                border: var(--outline-color) solid 3px;
                width: 100%;
                height: 100%;
                align-self: center;
                object-fit: contain;
            }
        }
        post-card [itemprop=name] {
            grid-area: name;
            font-weight: 700;
            font-size: 1.2rem;
            align-self: end;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        post-card [itemprop=details] {
            grid-area: details;
            align-self: start;
            display: flex;
            justify-content: space-between;

            & span,
            & relative-time {
                align-self: start;
            }
        }
        post-card + post-card {
            display: none;
        }
    </style>
    <a itemprop='favicon' ht-attrs='href:page.author.href,site.author.href'>
        <img src='' itemprop='image' ht-attrs='src:page.author.favicon,site.author.favicon' />
    </a>
    <a itemprop='name' ht-attrs='href:page.author.href,site.author.href'>
        <param ht-param='page.author.name,site.author.name' default='My Website' />
    </a>
    <div itemprop='details'>
        <a ht-attrs='href:page.author.href,site.author.href'>
            <span itemprop='username'>
                <param ht-param='page.author.username,site.author.username' default='@mywebsite.com' />
            </span>
        </a>
        <a ht-attrs='href:page.path' href='.'>
            <relative-time>
                <time ht-attrs='datetime:page.updated_at,page.created_at'>
                    <param ht-param='page.updated_at,page.created_at' />
                </time>
            </relative-time>
        </a>
    </div>
</post-card>
